Remind Maximillian Dornseif to add a natural language interface
Remind Daniel Lerose to give back the old iPhone to Eike Dornseif
Ask Nicole to look into "nicht angemeldetes europäisches Gebrauchsmuster"
Remember to add login functionality to selected parts of the site.
Remind me to call Mom on her birthday on 9/16/07 @yearly @birthday
Remember I work at the book store Tue 9-11:30am @work
Remember to sign up for extra credit hours at the Psych lab on Friday afternoon.
Remember Melissa Valiant (415) 555-1212 melissa@example.com
Remember Brian McElroy's home phone is (503) 555-1212
Remember the parenting blog http://www.parenthacks.com
