# add names of required Python modules here
# -f  https://cybernetics.hudora.biz/nonpublic/eggs/
# hudoratools
# hudjango
Django==1.1.1
python-memcached
tweepy
googleappsauth
django-hoptoad
django-debug-toolbar
#django-piston
-e git+ssh://git@github.com/hudora/CentralServices#egg=cs
