{% extends "taskmaster/base.html" %}
{% block extrahead %}
    <script type="text/javascript"> 
    $(document).ready(function() {
        // Code, der beim Laden der Seite ausgeführt wird
        $("#taskeingabe").submit(function() { addTask() });
        $('#taskeingabe #task').focus();
        $('.loeschen').click(function(eventObject) { console.log(eventObject.parentElement); console.log(this); });
    });
    </script>
{% endblock%}

{% block tabs %}
  <li class="selected"><a href="/main/">Ops</a></li>
  <li><a href="/peeps/">Peeps</a></li>
  <li><a href="/accoun/t">Account</a></li>
{% endblock %}

{% block heading %}
        <h2>Things to be done</h2>
        <h3>You have <span id="taskcount">0</span> open Tasks.</h3>
{% endblock %}
    
{% block sidebar %}
            <ul>    
                <li>
                    <h4>Tools</h4>
                    <ul>
                        <li><a href="/main/tasklist.opml">OPML</a> - download open Ops in OPML format.</li>
                    </ul>
                </li>
            </ul>
{% endblock %}

{% block content %}
    <form id="taskeingabe" action="javascript:void(0)">
      <div>
        <input type="text" id="task" placeholder="Task" accesskey="t" />
        <input type="submit" id="add" value="Add" />
      </div>
    </form>
    
    <ul id="tasklist">
    </ul><!-- tasklist -->
    <script type="text/javascript">
      {% for task in tasks %}
        addTask_helper("{{ task.person|e }}", 
                       "{{ task.task|e }}",
                       "{{ task.designator|e }}");{% endfor %}
    </script>
{% endblock %}
