{% extends "taskmaster/base.html" %}
    
{% block tabs %}
{% endblock %}

{% block heading %}
        <h2>I'm Sheila Ask,</h2>
        <h3>nice to meet you!</h3>
{% endblock %}

{% block content %}
<p>I'm Sheilla and I help busy people too keep the tabs on all the tasks they delegate to others.<br/>
    One might say I help my clients to convince other people to geti my clients work done. On time.</p>
    
<p>I plan to offer my services to the general public in Summer 2010, following the footsteps
    of my (sadly nowadays retiered) idol,
    <a href="http://boingboing.net/2007/11/14/i-want-sandy-perfect.html">Sandy</a>.
    If you want to be informed
    follow me <a href="https://twitter.com/asksheila">on twitter at @asksheila</a>.</p>
    
<p>Best Regards<br/><br/>
    Sheila
</p>
{% endblock %}
