{% extends "taskmaster/base.html" %}
{% block extrahead %}
    <script type="text/javascript"> 
    $(document).ready(function() {
        // Code, der beim Laden der Seite ausgeführt wird
        $("#taskeingabe").submit(function() { addTask() });
        $('#taskeingabe #person').focus();
        $('.loeschen').click(function(eventObject) { console.log(eventObject.parentElement); console.log(this); });
    });
    </script>
{% endblock%}

{% block tabs %}
  <li class="selected"><a href="/main">Tasks</a></li>
  <li><a href="/account">Account</a></li>
{% endblock %}

{% block heading %}
        <h2>Things to be done</h2>
        <h3>You have <span id="taskcount">0</span> open Tasks.</h3>
{% endblock %}
    
{% block sidebar %}
            <ul>    
                <li>
                    <h4>Links</h4>
                    <ul>
                        <li><a href="http://www.spyka.net" title="spyka Webmaster resources">spyka webmaster</a></li>
                        <li><a href="http://www.justfreetemplates.com" title="free web templates">Free web templates</a></li>
                        <li><a href="http://www.spyka.net/forums" title="webmaster forums">Webmaster forums</a></li>
                        <li><a href="http://www.awesomestyles.com/mybb-themes" title="mybb themes">MyBB themes</a></li>
                        <li><a href="http://www.awesomestyles.com" title="free phpbb3 themes">phpBB3 styles</a></li>
                    </ul>
                </li>
                
                <li>
                    <h4>Categories</h4>
                    <ul>
                      <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
                      <li><a href="#">Quisque consequat nunc a felis.</a></li>
                      <li><a href="#">Suspendisse consequat magna at.</a></li>
                      <li><a href="#">Etiam eget diam id ligula rhoncus.</a></li>
                      <li><a href="#">Sed in mauris non nibh.</a></li>
                    </ul>
                </li>
                <li>
                    <h4>Sponsors</h4>
                    <ul>
                        <li><a href="http://www.themeforest.net/?ref=spykawg" title="premium templates">ThemeForest</a> - premium HTML templates, WordPress themes and PHP scripts</li>
                        <li><a href="http://www.dreamhost.com/r.cgi?259541" title="web hosting">Web hosting</a> - 50 dollars off when you use promocode <strong>awesome50</strong></li>
                        <li><a href="http://www.4templates.com/?aff=spykawg" title="4templates">4templates</a> - brilliant premium templates</li>
                    </ul>
                </li>
            </ul>
{% endblock %}

{% block content %}
    <form id="taskeingabe" action="javascript:void(0)">
      <div>
        <input type="text" id="person" placeholder="somebody@example.com" accesskey="p" />
        <input type="text" id="task" placeholder="Task" accesskey="t" />
        <input type="submit" id="add" value="Add" />
      </div>
    </form>
    
    <ul id="tasklist">
    </ul><!-- tasklist -->
    <script type="text/javascript">
      {% for task in tasks %}
        addTask_helper("{{ task.person|escapejs }}", 
                       "{{ task.task|escapejs }}",
                       "{{ task.designator|escapejs }}");{% endfor %}
    </script>
{% endblock %}
