<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>Taskmaster</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.1/themes/base/jquery-ui.css" type="text/css" />
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/base/ui.datepicker.css" type="text/css" />
    <link rel="stylesheet" href="http://s.hdimg.net/libs/humanmsg-1.0/humanmsg.css" type="text/css">
    <link rel="stylesheet" href="http://s.hdimg.net/libs/jquery.AccessKeyHighlighter/style/AccessKeyHighlighter.css" type="text/css" />
    <link rel="stylesheet" href="taskmaster.css" type="text/css" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.js"></script>
    <script type="text/javascript" src="http://s.hdimg.net/libs/nmcFormHelper.js"></script>
    <script type="text/javascript" src="http://s.hdimg.net/libs/humanmsg-1.0/humanmsg.js"></script>
    <script type="text/javascript" src="http://s.hdimg.net/libs/jquery.json-2.2.js"></script>
    <script type="text/javascript" src="http://s.hdimg.net/libs/jquery.getUrlParam.js"></script>
    <script type="text/javascript" src="http://s.hdimg.net/libs/jquery.AccessKeyHighlighter/script/jquery.AccessKeyHighlighter.js"></script>
    <script type="text/javascript" src="taskmaster.js"></script>
    <script type="text/javascript">
    function addTask() {
        // Form handler: wird immer aufgerufen, wenn eine neue Position der Bestellung zugefügt wird
        // oder eine Position manuel geaendert wird.
        var person = $('#taskeingabe #person').val();
        var task = $('#taskeingabe #task').val();
        // neu zufügen - eine Zeile konstruieren
        trow = $("<tr/>");
        // initialize jQuery Data Dictionary
        trow.data('person', person);
        trow.data('task', task);
        
        // HTML für die Zeile zusammenbasteln
        $("<td/>").addClass("person").text(person).appendTo(trow);
        $("<td/>").addClass("task").text(task).appendTo(trow);
        $("<td/>").addClass("info").text('saving ...').appendTo(trow);
        trow.appendTo($("table#tasklist tbody"));
        $('#taskeingabe #person').val("").focus();
        $('#taskeingabe #task').val("")

        $.get("api/add_task", {'person': person, 'task': task},
              function(taskid) {
                  // Dieser Code wird mit den Rückgabedaten vom Server aufgerufen (AJAX)
                  alert(taskid);
                  trow.find("td.info").text("");
                  trow.data('taskid', taskid).attr("id", taskid);
        });
     };
 
 
    $(document).ready(function() {
        // Code, der beim Laden der Seite ausgeführt wird
        nmcFormHelper.init(); // HTML5 <form> Support in alten Browsern
        $.highlightAccessKeys({accessKeyTag: "u"}); // markieren von access keys
        
        $("#taskeingabe").submit(function() { addTask() });
        $('#taskeingabe #person').focus();
    });
    </script>
  </head>
  <body>
    <form id="taskeingabe" action="javascript:void(0)">
        <input type="text" id="person" placeholder="somebody@example.com" required="required" accesskey="p">
        <input type="text" id="task" placeholder="Task" required="required" accesskey="t">
        <input type="submit" id="add" value="Add">
    </form> 
    <table id="tasklist">
        <thead></thead>
        <tbody></tbody>
    </table>
  </body>
</html>
