{% extends "taskmaster/base.html" %}
{% block extrahead %}
    <script type="text/javascript"> 
    $(document).ready(function() {
        // Code, der beim Laden der Seite ausgeführt wird
        $("#taskeingabe").submit(function() { addTask() });
        $('#taskeingabe #task').focus();
        $('.loeschen').click(function(eventObject) { console.log(eventObject.parentElement); console.log(this); });
    });
    </script>
{% endblock%}

{% block tabs %}
  <li><a href="/main/">Ops</a></li>
  <li class="selected"><a href="/peeps/">Peeps</a></li>
  <li><a href="/account/">Account</a></li>
{% endblock %}

{% block heading %}
        <h2>Things to be done</h2>
        <h3>You have <span id="taskcount">0</span> open Tasks.</h3>
{% endblock %}

{% block content %}
    <ul id="peeplist">
      {% for peep in peeps %}
          <li><a href="{{ peep.get_absolute_url }}">{{ peep }}</a></li>{% endfor %}
    </ul><!-- peeplist -->
{% endblock %}
